@charset "UTF-8";
/*----estilo de elemento h1----*/
h1 {
	color: red;
}
/*----estilo elemento h2----*/
h2 {
	color:blue;
}
/*----estilo elemento p----*/
p {
	color:silver;
	font-style:italic;
	letter-spacing:3px;
}
/*----estilo elemento img----*/
img {
	display:block;
	margin:auto;
}
